//---------------------------------------------------------------------------
//
// Name:        p1App.rc
// Author:      Niña
// Created:     12/05/2017 03:41:49 p.m.
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
